# Build folders
bin/
obj/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# System & OS Files
.DS_Store
Thumbs.db

# Compiled single files
Word批量生成器.exe
Word批量生成器_带图标.exe
